<div>
    <div class="content">
        <div class="row" style="padding:20px">
                
            <div class="col-6 my-auto">
                <div class="filter-bar" >
                    <button class="btn" style="color:black; background-color:white;border-radius: 50px;" routerLink="/{{this.routing}}">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    
                </div>
            </div>
            <div class="col-6">
                
            </div>
            <hr width="90%" />
        </div>
        <div class="spinner" style="justify-content: center;display: flex;text-align: center;">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" ></span>
        </div>
       
        <div  *ngIf="!loading" class="row">
            <div class="col-12">
                <div class="">
                    <img class="card-img-top" src={{currentJob.photo}} alt="Card image cap">
                </div>
            </div>
            <div class="document-content" style="padding: 15px; width: 100%;">
                <div class="col-12" >
                    <h3 style="margin-top:0px;font-weight: bold;color: black;">{{currentJob.name}}</h3>
                </div>

                <div class="col-12">
                    <h4 style="margin-top:5px">{{currentJob.location}}</h4>
                </div>

                <hr width="90%" />

                <div class="col-12" >
                    <h4 style="margin-top:0px;font-weight: bold;color: black;">Job Spec</h4>
                </div>

                <div class="col-12" style="padding:10px 15px 10px 15px;">
                    <h4 style="margin-top:0px;color: black;">{{currentJob.cat[0]}}</h4>
                </div>

                <div class="col-12" style="padding:10px 15px 10px 15px;">
                    <h4 style="margin-top:0px;;color: black;">{{currentJob.cat[1]}}</h4>
                </div>

                <div class="col-12" >
                    <h4 style="margin-top:0px;font-weight: bold;color: black;">Description</h4>
                </div>

                <div class="col-12" style="padding:10px 15px 10px 15px;">
                    <p style="margin-top:0px;;color: black; font-size: 1.4em ;">{{currentJob.description}}</p>
                </div>

                <hr width="90%" />

                <div class="contact-section">
                    <div class="col-12" style="margin-bottom:15px">
                        <h4 style="margin-top:0px;font-weight: bold;color: black;">Contact</h4>
                    </div>
    
                    <div class="row" style="padding:0px 15px 10px 15px;" >
                        <div class="col-1" style="">
                            <i class="fa-solid fa-phone fa-2x" style="color:black"></i>
                        </div>
        
                        <div class="col-10" style="margin-left:5px" >
                            <h4 style="margin-top:0px;color: black;font-weight: 500;">Phone</h4>
                        </div>
                    </div>

                    <div class="row" style="padding:0px 15px 10px 15px;" >
                        <div class="col-1" style="">
                           
                        </div>
        
                        <div class="col-10" style="margin-left:5px" >
                            <h4 style="margin-top:0px;color: black;font-weight: 500;">+{{currentJob.phoneNumber}}</h4>
                        </div>
                    </div>

                    <div class="row" style="padding:0px 15px 10px 15px;" >
                        <div class="col-1" style="">
                            <i class="fa-solid fa-envelope fa-2x" style="color:black"></i>
                        </div>
        
                        <div class="col-10" style="margin-left:5px" >
                            <h4 style="margin-top:0px;color: black;font-weight: 500;">Email</h4>
                        </div>
                    </div>

                    <div class="row" style="padding:0px 15px 10px 15px;" >
                        <div class="col-1" style=""></div>
        
                        <div class="col-10" style="margin-left:5px" >
                            <h4 style="margin-top:0px;color: black;font-weight: 500;">{{currentCreator.email}}</h4>
                        </div>
                    </div>
                </div>

                <hr width="90%" />

                <div style="text-align: center;" *ngIf='!jobAvailable'>
                    <a  class="btn disabled" style="margin: 0 auto; background-color:#4F84DE;border: none; width: 80%;">Job Unavailable</a>
                </div>

                <div style="text-align: center;" *ngIf='!bidSuccess && !bidExists && jobAvailable'>
                    <a (click)='applyToJob()' class="btn" style="margin: 0 auto; background-color:#4F84DE;border: none; width: 80%;">Apply to Job</a>
                </div>

                <div style="text-align: center;" *ngIf='bidSuccess && !bidExists'>
                    <a  class="btn" style="margin: 0 auto; background-color:hsl(140, 79%, 29%);border: none; width: 80%;">Bid Successful!</a>
                </div>

                <div style="text-align: center;" *ngIf='bidExists'>
                    <a  class="btn" style="margin: 0 auto; background-color:hsl(355, 75%, 46%);border: none; width: 80%;">You Already Applied!</a>
                </div>

                
                

                

            </div>
           
            

        </div>
    </div>
</div>
