<div>
    <div class="content" style="align-items: center;justify-content: center;display: flex; ">

        <div class="welcome-page" >

            
    
            <div class="row" style="margin-top:10vh; margin-bottom: 10vh;">
                <div class="col-12" style="align-items: center;justify-content: center;display: flex;">
                    <h2>Welcome to</h2>
                   
                </div>
                <div class="col-12" style="align-items: center;justify-content: center;display: flex;">
                    <h2 style="font-weight:bold">LocalBids</h2>
                   
                </div>
            </div>

            <hr width="90%" />
    
            <div class="row" style="">
                <div class="col-12" style="padding-left: 19vw;">
                    <h3 style="margin-top: 0px;">Email</h3>
                </div>
                <div class="col-12" style="justify-content: center;display: flex;text-align: center;">
                    <div class="form-group" style="width: 70%;">
                        <input  type="email" class="form-control" id="exampleFormControlInput1" maxlength="35" [(ngModel)]="userEmail" style=" border-width: 1.5px; border-color:black">
                    </div>
                    <!-- <button type="button" routerLink="/view-jobs" class="btn btn-secondary cat-button" style="width:60vw;justify-content: center;display: flex;text-align: center;margin:0px 0px 10px 0px;  color: black; background-color: white; border-radius: 5px;">
                        <label style="margin:10px" >
                           View Listings
                        </label>
                    </button> -->
                </div>
    
                <div class="col-12" style="padding-left: 19vw;">
                    <h3 style="margin-top: 0px;">Password</h3>
                </div>
                <div class="col-12" style="justify-content: center;display: flex;text-align: center;">
                    <div class="form-group" style="width: 70%;">
                        <input  type="password" class="form-control" id="exampleFormControlInput1" maxlength="35" [(ngModel)]="userPass" style=" border-width: 1.5px; border-color:black">
                    </div>
                    <!-- <button type="button" routerLink="/view-jobs" class="btn btn-secondary cat-button" style="width:60vw;justify-content: center;display: flex;text-align: center;margin:0px 0px 10px 0px;  color: black; background-color: white; border-radius: 5px;">
                        <label style="margin:10px" >
                           View Listings
                        </label>
                    </button> -->
                </div>

                <div class="row login-buttons" style="margin: 5vh">
                    <div class="col-12" style="justify-content: center;display: flex;text-align: center;">
                        <button type="button"  class="btn btn-secondary cat-button" style="width:50vw;justify-content: center;display: flex;text-align: center;margin:0px 0px 10px 0px;  color: black; background-color: white; border-radius: 5px;">
                            <label style="margin:7px" >
                               Login
                            </label>
                        </button>
                    </div>
    
                    <div class="col-12" style="justify-content: center;display: flex;text-align: center;">
                        <button type="button"  class="btn btn-secondary cat-button" style="width:50vw;justify-content: center;display: flex;text-align: center;margin:0px 0px 10px 0px;  color: black; background-color: white; border-radius: 5px;">
                            <label style="margin:7px" >
                               Register
                            </label>
                        </button>
                    </div>
    
                    
    
                    <div class="col-12" style="justify-content: center;display: flex;text-align: center;">
                        <a style="color:darkgrey">Forgotten Password?</a>
                    </div>

                </div>

                

                
            </div>
        </div>
        
    </div>  
</div>